# SPDX-License-Identifier: BSD-2-Clause
#
# OP-TEE default configuration for the spike platform.
#

CFG_CC_OPT_LEVEL="s"
CFG_DEBUG_INFO=n
CFG_TEE_CORE_DEBUG=n
CFG_TEE_CORE_LOG_LEVEL=2
CFG_TEE_TA_LOG_LEVEL=0
CFG_TEE_CORE_TA_TRACE=n
CFG_TEE_CORE_MALLOC_DEBUG=n
CFG_TEE_TA_MALLOC_DEBUG=n
CFG_NUM_THREADS=4
CFG_OS_REV_REPORTS_GIT_SHA1=y
CFG_WITH_USER_TA=n
CFG_BUILD_IN_TREE_TA=y
CFG_REE_FS=n
CFG_RPMB_FS=n
CFG_WITH_PAGER=n
CFG_PAGED_USER_TA=n
