# SPDX-License-Identifier: BSD-2-Clause
#
# OP-TEE default configuration for the imx / mx6ullevk platform.
#

CFG_CC_OPT_LEVEL="s"
CFG_DEBUG_INFO=y
CFG_TEE_CORE_DEBUG=y
CFG_TEE_CORE_LOG_LEVEL=2
CFG_TEE_TA_LOG_LEVEL=1
CFG_TEE_CORE_TA_TRACE=y
CFG_TEE_CORE_MALLOC_DEBUG=n
CFG_TEE_TA_MALLOC_DEBUG=n
CFG_NUM_THREADS=2
CFG_OS_REV_REPORTS_GIT_SHA1=y
CFG_WITH_USER_TA=y
CFG_BUILD_IN_TREE_TA=y
CFG_REE_FS=y
CFG_RPMB_FS=n
CFG_WITH_PAGER=n
CFG_PAGED_USER_TA=n
CFG_ATTESTATION_PTA=y
